<div class="modal fade" id="game-over-modal" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Game Over</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="gameOverDiv">
          <p id="gameOverP">Finished with a score of ...</p>
        </div>
        <div id="nameInputDiv">
          <label for="nameBox" class="form-label">Enter name to submit score:</label>
          <input type="text" class="form-control" id="nameBox">
        </div>
      </div>
      <div class="modal-footer">
        <a href="/play/<%=gamemode%>" class="btn btn-primary" >Play Again</a>
        <button type="button" class="btn btn-primary" id="submit-score-btn">Submit Score</button>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>