<div class="modal fade" id="subAltModal" tabindex="-1" aria-labelledby="subAltLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="subAltLabel">Submit Alternative Translation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p1 id="word_thing">Loading...</p1><br>
        <p1 id="translations">Current Translations: Loading...</p1><br><br>
          <label>Your Alternative Translation:</label>
          <input id="wordInput" type="text" class="form-control" required>
        </div><br><br>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id="altSubmitBtn" data-bs-dismiss="modal" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
<script src="/js/alternative.js"></script>